<h1>YOUR COACHES RESPONSE</h1>

<div id="question">
  <p><%= @question %></p>
  <p>- You</p>
</div>

<div id="answer">
  <p><%= @answer %></p>
  <p>- Your Coach</p>
</div>

<br>
<br>

<%= link_to("GO BACK", ask_path) %>
